# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

.qmake.cache
.qmake.stash
build*/
release/
debug/
profile/
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator
*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# KiCad cache, backups
*.bak
*rescue-backup
*.kicad_pcb-bak


# Word files
~*.docx
~*.tmp

# Sphinx
_build
_static
_templates